/* Public CSS Document */
header{
	display: block;
	width: 960px;
	height: 30px;
	margin: 0 auto 10px auto;
	border-radius: 0 0 6px 6px;
}

nav{
	width: 960px;
	height: 90px;
	display: block;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	margin: 0 auto 10px auto;
}

content{
	width: 960px;
	display: block;
	margin: 0 auto 10px auto;
}

section{
	width: 348px;
	height: 420px;
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
}

footer{
	width: 960px;
	height: 78px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	margin: 0 auto 30px auto;
}

.clear{
	zoom: 1 ; /* for IE6/7 */
}

.clear:after{
	clear: both;
	content: ".";
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;  /* for FF/chorme/opera/IE8 */
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.ad{
	display: inline-block;
	border-radius: 6px;
	margin-bottom: 10px;
}

.gradients{
	background: -webkit-linear-gradient(bottom,#fafafa,#fff);
	background: -o-linear-gradient(bottom,#fafafa,#fff);
	background: -ms-linear-gradient(bottom,#fafafa,#fff);
	background: linear-gradient(bottom,#fafafa,#fff);
}

.borders{
	border: 1px solid #e5e5e5;
}