/* CSS Document */

/* 头部城市部分 */
.lHight{
	line-height: 30px;
}

.headAdress a{
	padding: 2px 8px;
	color: #999999;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-left: 5px;
}

.headAdress .active{
	color: red;
}

.headAdress a:hover{
	color: red;
}

.headBar a{
	color: #666666;
}

.headBar a:hover{
	text-decoration: underline;
}

/* 头部导航部分 */
.navigator ul{
	display: block;
	width: 963px;
	height: 90px;
	margin: 0 auto;
}

.navigator a{
	display: block;
	text-align: center;
	float: left;
	margin: 10px 3px;
	width: 64px;
	height: 20px;
	color: #333333;
	padding-top:50px;
}

.navigator a:hover{
	text-decoration: underline;
	color: #d91002;
}

.navigator .bag1{	
	background: url(../img/nav.png) 0 0 no-repeat;
}
.navigator .bag1:hover{	
	background: url(../img/nav.png) 0 -70px no-repeat;
}

.navigator .bag2{
	background: url(../img/nav.png) -64px 0 no-repeat;
}
.navigator .bag2:hover{	
	background: url(../img/nav.png) -64px -70px no-repeat;
}

.navigator .bag3{
	background: url(../img/nav.png) -128px 0 no-repeat;
}
.navigator .bag3:hover{	
	background: url(../img/nav.png) -128px -70px no-repeat;
}

.navigator .bag4{
	background: url(../img/nav.png) -194px 0 no-repeat;
}
.navigator .bag4:hover{	
	background: url(../img/nav.png) -194px -70px no-repeat;
}

.navigator .bag5{
	background: url(../img/nav.png) -260px 0 no-repeat;
}
.navigator .bag5:hover{
	background: url(../img/nav.png) -260px -70px no-repeat;
}

.navigator .bag6{
	background: url(../img/nav.png) -329px 0 no-repeat;
}
.navigator .bag6:hover{
	background: url(../img/nav.png) -329px -70px no-repeat;
}

.navigator .bag7{
	background: url(../img/nav.png) -393px 0 no-repeat;
}
.navigator .bag7:hover{
	background: url(../img/nav.png) -393px -70px no-repeat;
}

.navigator .bag8{
	background: url(../img/nav.png) -457px 0 no-repeat;
}
.navigator .bag8:hover{
	background: url(../img/nav.png) -457px -70px no-repeat;
}

.navigator .bag9{
	background: url(../img/nav.png) -521px 0 no-repeat;
}
.navigator .bag9:hover{
	background: url(../img/nav.png) -521px -70px no-repeat;
}

.navigator .bag10{
	background: url(../img/nav.png) -585px 0 no-repeat;
}
.navigator .bag10:hover{
	background: url(../img/nav.png) -585px -70px no-repeat;
}

.navigator .logo{
	width: 223px;
	height: 62px;
	margin: 10px 5px;
	background: url(../img/logo.png) no-repeat;
}

/* 头部搜索栏部分 */
#search{
	width: 960px;
	height: 116px;
	position: relative;
	margin: 0 auto 10px auto;
}

.searchBox{
	width: 960px;
	height: 64px;
	position: absolute;
	top: 16px;
	left: -1px;
	border: 1px solid #c40d0e;
	background: #e21c01;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.searchBox .imgInfo{
	width: 156px;
	height: 115px;
	position: absolute;
	top: -20px;
	left: 32px; 
}

.searchBox .searchTab{
	position: absolute;
	height: 26px;
	left: 226px;
	top: -28px;
}

.searchBox .searchTab li{
	float: left;
	display: block;
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	margin-right: 1px;
	border: 1px solid #f8d0bf;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px 0px 2px rgba(0,0,0,.1);
}

.searchBox .searchTab .active{
	background: #e21c01;
	color: #fff;
	border: 1px solid #c40d0e;
	border-bottom: 1px solid #e21c01; 
	box-shadow: none;
}

#searchArea{
	float: left;
	margin-left: 226px;
	margin-top: 20px;
}

#searchTxt{
	width: 404px;
	height: 24px;
	border: none;
	vertical-align: top;
	border-radius: 3px;
	background: #fff;
}

#searchBtn{
	width: 63px;
	height: 26px;
	border: none;
	margin-left: 10px;
	background: url(../img/search_btn.png);
}

#info{
	width: 202px;
	font-size: 12px;
	overflow: hidden;
	color: #fff;
	position: relative;
	top: 15px;
	left: 18px;
}

#contMain{
	width: 710px;
	border: none;
}

#contSide{
	width: 240px;
}

#contSide section{
	width: 238px;
}

