/* CSS Document */

/* 头部城市部分 */
.lHight{
	line-height: 30px;
}

.headAdress a{
	padding: 2px 8px;
	color: #999999;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-left: 5px;
}

.headAdress .active{
	color: red;
}

.headAdress a:hover{
	color: red;
}

.headBar a{
	color: #666666;
}

.headBar a:hover{
	text-decoration: underline;
}

/* 头部导航部分 */
.navigator ul{
	display: block;
	width: 963px;
	height: 90px;
	margin: 0 auto;
}

.navigator a{
	display: block;
	text-align: center;
	float: left;
	margin: 10px 3px;
	width: 64px;
	height: 20px;
	color: #333333;
	padding-top:50px;
}

.navigator a:hover{
	text-decoration: underline;
	color: #d91002;
}

.navigator .bag1{	
	background: url(../img/nav.png) 0 0 no-repeat;
}
.navigator .bag1:hover{	
	background: url(../img/nav.png) 0 -70px no-repeat;
}

.navigator .bag2{
	background: url(../img/nav.png) -64px 0 no-repeat;
}
.navigator .bag2:hover{	
	background: url(../img/nav.png) -64px -70px no-repeat;
}

.navigator .bag3{
	background: url(../img/nav.png) -128px 0 no-repeat;
}
.navigator .bag3:hover{	
	background: url(../img/nav.png) -128px -70px no-repeat;
}

.navigator .bag4{
	background: url(../img/nav.png) -194px 0 no-repeat;
}
.navigator .bag4:hover{	
	background: url(../img/nav.png) -194px -70px no-repeat;
}

.navigator .bag5{
	background: url(../img/nav.png) -260px 0 no-repeat;
}
.navigator .bag5:hover{
	background: url(../img/nav.png) -260px -70px no-repeat;
}

.navigator .bag6{
	background: url(../img/nav.png) -329px 0 no-repeat;
}
.navigator .bag6:hover{
	background: url(../img/nav.png) -329px -70px no-repeat;
}

.navigator .bag7{
	background: url(../img/nav.png) -393px 0 no-repeat;
}
.navigator .bag7:hover{
	background: url(../img/nav.png) -393px -70px no-repeat;
}

.navigator .bag8{
	background: url(../img/nav.png) -457px 0 no-repeat;
}
.navigator .bag8:hover{
	background: url(../img/nav.png) -457px -70px no-repeat;
}

.navigator .bag9{
	background: url(../img/nav.png) -521px 0 no-repeat;
}
.navigator .bag9:hover{
	background: url(../img/nav.png) -521px -70px no-repeat;
}

.navigator .bag10{
	background: url(../img/nav.png) -585px 0 no-repeat;
}
.navigator .bag10:hover{
	background: url(../img/nav.png) -585px -70px no-repeat;
}

.navigator .logo{
	width: 223px;
	height: 62px;
	margin: 10px 5px;
	background: url(../img/logo.png) no-repeat;
}

/* 头部搜索栏部分 */
#search{
	width: 960px;
	height: 116px;
	position: relative;
	margin: 0 auto 10px auto;
}

.searchBox{
	width: 960px;
	height: 64px;
	position: absolute;
	top: 16px;
	left: -1px;
	border: 1px solid #c40d0e;
	background: #e21c01;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.searchBox .imgInfo{
	width: 156px;
	height: 115px;
	position: absolute;
	top: -20px;
	left: 32px; 
}

.searchBox .searchTab{
	position: absolute;
	height: 26px;
	left: 226px;
	top: -28px;
}

.searchBox .searchTab li{
	float: left;
	display: block;
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	margin-right: 1px;
	border: 1px solid #f8d0bf;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px 0px 2px rgba(0,0,0,.1);
}

.searchBox .searchTab .active{
	background: #e21c01;
	color: #fff;
	border: 1px solid #c40d0e;
	border-bottom: 1px solid #e21c01; 
	box-shadow: none;
}

#searchArea{
	float: left;
	margin-left: 226px;
	margin-top: 20px;
}

#searchTxt{
	width: 394px;
	height: 24px;
	border: none;
	vertical-align: top;
	border-radius: 3px;
	background: #fff;
	padding: 0 5px; 
	text-shadow: 2px 2px 2px rgba(0,0,0,.1);
	box-shadow: inset -2px 2px 2px rgba(0,0,0,.2);
}

#searchBtn{
	width: 63px;
	height: 26px;
	border: none;
	margin-left: 10px;
	background: url(../img/search_btn.png);
}

#info{
	width: 202px;
	font-size: 12px;
	overflow: hidden;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,.4);
	position: absolute;
	top: 15px;
	right: 45px;
}

#info a{
		color: #fff;
}

#info a:hover{
	color: #aa9;
}

.warp{
	position: absolute;
	width: 344px;
	height: 30px;
	left: 226px;
	bottom: 0;
	padding-left: 60px;
	background: url(../img/icon.png) no-repeat 0 -126px;
}

.warp .update{
	width: 398px;
}

.warp .update li{
	height: 30px; 
	line-height: 30px;
	color: #000000;
}

.warp .update li strong{
	font-weight: normal;
}
.warp .update li strong a{
	color: #d30703;
}

.warp .update li span{
	color: #999999;
}

.warp .update li a{
	color: #000;
}

.warp .update li a:hover{
	text-decoration: underline;
}

.sec_tr_top{
	position: absolute;
	right: 0;
	top: 7px;
}

.sec_tr_btm{
	position: absolute;
	right: 0;
	top: 18px;
}

/* 主要内容*/
#contMain{
	width: 710px;
	border: none;
}

#contMain section{
	position: relative;
}

#contMain section .videoTitle{
	width: 318px;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-family: "Arial";
	color: #d90000;
	text-shadow: 1px 0px 1px rgba(217,0,0,.2);
	margin: 0 auto;
}

#contMain section .videoTitle i{
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 9px;
	left: 120px;
	background: url(../img/icon.png) no-repeat -106px -12px;
}

#contMain section .video{
	width: 318px;
	height: 284px;
	margin: 0 auto 13px auto;
	background: pink;
}

.videoInfo{
	display: block;
	width: 232px;
	height: 66px;
	margin: 0 auto;
	padding-left: 86px;
	background: url(../img/hot.jpg) no-repeat;
}

.videoInfo li{
	display: block;
	line-height: 20px;
	width: 228px;
	text-indent: 4px;
}

.videoInfo li a{
	color: #4d4d4d;
}

.videoInfo li a:hover{
	text-decoration: underline;
}

#contMain .tabArea .tab{
	
}

#contMain .tabArea .tab li{
	color: #666666;
}

#contMain .tabArea .tab li .tab_tr{
	position: absolute;
	right: 12px;
	top: 14px;	
}

#contMain .tabArea .tab .click{
	color: #cc0d13;
}

#contMain .tabArea .tab span{
	color: #2b2d2d;
	padding: 0 8px;
}



#contMain .tabArea .tabBox{

}

#contMain .tabArea .tabBox .hot{
	display: block;
	position: relative;
	width: 290px;
	height: 108px;
	margin: 15px auto 6px auto;
	background: url(../img/main_bac.jpg);
}

.tabArea .tabBox .hot img{
	width: 104px;
	height: 86px;
	position: absolute;
	top: 10px;
	left: 0;
	border: 1px solid #e6e6e6;
	background: url(../img/icon.png) no-repeat;
}

.tabArea .tabBox .hotInfo{ 
	width: 122px;
	height: auto;
	position: absolute;
	left: 127px;
	top: 16px;
}

.tabArea .tabBox .hotInfo h5{
	line-height: 24px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #bb0d0d;
}

.tabArea .tabBox .hotInfo p{
	line-height: 16px;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	color: #6e6e6e;
}

.advice{
	height: 298px;
}

.advice .tabCont{
	width: 318px;
	height: 230px;
	margin: 0 auto;
	position: absolute;
	top: 66px;
	left: 15px;
	z-index: 2;
	border-top: 1px solid #dadada;
}

.advice .tabCont .liIcon{
	display: inline-block;
	width: 10px;
	height: 10px;
	position: relative;
	left: 15px;
	top: 2px;
	background: pink;
}

.advice .advice_search{
	position: absolute;
	z-index: 999;
	height: 56px;
	line-height: 56px;
	left: 27px;
	bottom: 5px;
}

.advice .advice_search i{
	display: inline-block;
	width: 24px;
	height: 23px;
	position: relative;
	left: 10px;
	top: 6px;
	background: url(../img/tab_icon.png) no-repeat 0 -11px;
}

/* 侧边栏*/
#contSide{
	width: 240px;
}

#contSide section{
	width: 238px;
}

