/* CSS Document */

#search{
	width: 960px;
	height: 92px;
	margin: 0 auto 10px auto;
}


#contMain{
	width: 710px;
	border: none;
}



#contSide{
	width: 240px;
}

#contSide section{
	width: 238px;
	border: 1px solid #555;
}

.aside-ad{
	width: 240px;
}



header{
	display: block;
	width: 960px;
	height: 30px;
	margin: 0 auto 10px auto;
	background: #567;
}

nav{
	width: 960px;
	height: 90px;
	display: block;
	margin: 0 auto 10px auto;
	background: red;
}



content{
	width: 960px;
	display: block;
	margin: 0 auto 10px auto;
}





section{
	width: 348px;
	height: 420px;
	margin-bottom: 10px;
	border: 1px solid #333;
}

option{
	width: 348px;
	height: 420px;
	border: 1px solid #333;
}

footer{
	width: 960px;
	height: 78px;
	margin: 0 auto 30px auto;
	background: #555;
}