
#site-nav{
	width: 100%;
	height: 26px;
	border: 1px solid #E5E5E5;
	background: #F2F2F2;
	line-height: 26px;
}

#login-info em{
	font-style: normal;
}

#login-info a{
	color: #999;
}

#login-info a:hover{
	color: #c40000;
}

.quick-menu{
	height: 26px;
	line-height: 26px;
	position: absolute;
	top: 0;
	right: 0;
}

.quick-menu li{
	position: relative;
	float: left;
	padding: 0 5px;
}

.quick-menu li a{
	color: #999;
}

.quick-menu li a:hover{
	color: #c40000; 
}

.index-logo img{
	width: 270px;
	height: 92px;
}

.index-search{
	position: absolute;
	top: 25px;
	right: 0;
}

.search-box{
	border: 3px solid #999;
	float: left;
}

.index-search input[type=search]{
	width: 447px;
	height: 30px;
	padding: 5px;
	border: none;
}

.index-search input[type=button]{
	width: 90px;
	height: 30px;
	border: none;
}

.nav-title{
	width: 260px;
	height: 33px;
	font-size: 13px;
	font-weight: 700;
	line-height: 33px;
	background: pink;
	text-align: center;
}

.main-nav{
	width: 908px;
	height: 33px;
	line-height: 33px;
	padding-left: 22px; 
}

.main-nav a{
	font-size: 13px; 
	margin-right: 40px;
	color: black;
	font-weight: 700;
}

.main-nav a:hover{
	color: #c40000;
}

.slider-nav-content{
	width: 270px;
	height: 486px;
}

.nav-item{
	width: 260px;
	height: 48.6px;
	background: #999;
}

.nav-item-title{
	display: inline-block;
	width: 60px;
	height: 48.6px;
	line-height: 48.6px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	background: rgb(44,44,44);
}

.nav-item-title a{
	color: #fff;
}

.nav-item-list{
	float: left;
	padding: 0 10px;
	line-height: 24px;
	overflow: hidden;
}

.nav-item-list a{
	color: #666;
}

.nav-item-list a:hover{
	color: red;
	text-decoration: underline;
}

.banner-container{
	width: 930px;
	height: 486px;
}

.index-banner{
	width: 730px;
	height: 486px;
}

.banner{
	width: 730px;
	height: 340px;
	position: relative;
	overflow: hidden;
}

.banner .banner-box{
	width: 2190px;
	height: 340px;
	font-size: 0;
	position: relative;
}

.arraw-dn{
	position: absolute;
	width: 30px;
	height: 100px;
	border: none;
	background: rgba(88,88,88,.4);
	top: 120px;
	left: 700px;
}

.arraw-up{
	position: absolute;
	width: 30px;
	height: 100px;
	border: none;
	background: rgba(88,88,88,.4);
	top: 120px;
}

.arraw-up:hover,
.arraw-dn:hover{
	background: rgba(33,33,33,.5);
}

.arraw-btn{
	position: absolute;
	left: 310px;
	bottom: 0px;
}

.arraw-btn-list{
	float: left;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 10px;
	background: yellow;
}

.banner .banner-img{
	width: 730px;
	font-size: 0;
}

.banner-img img{
	width: 360px;
	height: 136px;
	margin-top: 10px;
}

.index-login{
	width: 190px;
	height: 486px;
	background: #fff;
	margin-left: 6px;
}

.index-login-consult{
	display: block;
	width: 174px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	margin: 15px auto;
	border-radius: 6px;
	background: #FF6000;
}
