
.container{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

header{
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	position: relative;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clear{
	zoom: 1;
}

.clear:after{
	clear: both;
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}